<div class="app-stepper-container" *transloco="let t; read: 'condition'">
  <div class="app-stepper-header">
    <div style="flex: 1">
      <h5 style="font-size: 1.2rem; margin-bottom: 0.5rem">
        {{ conditionName }}
      </h5>
    </div>
    <div>
      <div class="header-actions">
        <button mat-stroked-button color="primary" (click)="goBack()">
          Exit Form
        </button>
        <button mat-flat-button color="primary" (click)="save()">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
      <div class="save-info">
        <div style="display: flex; flex-direction: row; gap: 1rem">
          <i *ngIf="autoSaveCountdown <= 30 && autoSaveCountdown > 0"
            >Saving in {{ autoSaveCountdown }}
            {{ autoSaveCountdown === 1 ? "second" : "seconds" }}...
          </i>
          <i
            *ngIf="
              lastSavedAt && (autoSaveCountdown === 0 || autoSaveCountdown > 30)
            "
            >Saved at {{ lastSavedAt | date: "mediumTime" }}</i
          >
        </div>
      </div>
    </div>
  </div>
  <div>
    <mat-stepper
      class="app-stepper"
      [linear]="false"
      labelPosition="bottom"
      (selectionChange)="stepperSelectionChange($event)"
      [orientation]="stepperOrientation"
      #stepper
    >
      <mat-step
        [label]="t('step1')"
        [stepControl]="conditionForm!"
        [errorMessage]="'stepError' | transloco"
      >
        <div>
          @if (hasConditionDMAPMessage()) {
            <div style="display: flex; flex-direction: column; gap: 1rem">
              <h5>DMAP Team Message</h5>
              <drr-alert
                [message]="
                  'You have a message from the DMAP team. Please review the message and adjust your request as needed.'
                "
                [type]="'info'"
              >
              </drr-alert>
              <drr-textarea
                [label]="t('message')"
                [rxFormControl]="conditionDMAPMessageForm?.get('message')"
                [disabled]="true"
              ></drr-textarea>
              <div style="display: flex; justify-content: space-between">
                <drr-datepicker
                  [label]="t('messageDate')"
                  [rxFormControl]="conditionDMAPMessageForm?.get('date')"
                  [disabled]="true"
                ></drr-datepicker>
                <drr-input
                  style="width: 25rem"
                  [label]="t('author')"
                  [rxFormControl]="conditionDMAPMessageForm?.get('author')"
                  [disabled]="true"
                ></drr-input>
              </div>
            </div>
          }
          <div
            style="
              display: flex;
              flex-direction: column;
              gap: 1rem;
              align-items: flex-start;
              margin-top: 2rem;
            "
          >
            <h5>Condition Request</h5>
            <div style="display: flex; gap: 1rem">
              <drr-input
                style="width: 25rem"
                [label]="t('name')"
                [rxFormControl]="conditionForm?.get('name')"
                [disabled]="true"
              ></drr-input>
              <drr-numeric-input
                style="width: 25rem"
                [label]="t('limit')"
                [rxFormControl]="conditionForm?.get('limit')"
                [disabled]="true"
                numericType="percentage"
              ></drr-numeric-input>
            </div>
            <drr-datepicker
              style="width: 25rem"
              [label]="t('date')"
              [rxFormControl]="conditionForm?.get('date')"
            ></drr-datepicker>
            <drr-textarea
              style="align-self: stretch"
              [label]="t('description')"
              [rxFormControl]="conditionForm?.get('description')"
              [maxlength]="2000"
            ></drr-textarea>
          </div>
          <div class="attachments-container">
            <h5>Attachments</h5>
            <drr-attachment
              *ngFor="
                let attachmentControl of attachmentsArray.controls;
                let i = index
              "
              [title]="i == 0 ? t('attachments') : ''"
              [attachmentForm]="attachmentControl"
              (removeFile)="removeFile($event)"
              (downloadFile)="downloadFile($event)"
            ></drr-attachment>

            <div style="display: flex; flex-direction: column; gap: 1rem">
              <div>
                <mat-label class="drr-label">
                  {{ t("attachmentUploadText") }}
                </mat-label>
              </div>

              <drr-file-upload
                (filesSelected)="uploadFiles($event)"
                [attachButtonLabel]="t('uploadAttachment')"
              ></drr-file-upload>
            </div>
          </div>
        </div>
        <div class="drr-stepper-action">
          <button mat-flat-button color="primary" matStepperNext type="button">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step
        [label]="t('step2')"
        [stepControl]="authorizedRepresentativeForm!"
        [errorMessage]="'stepError' | transloco"
      >
        <div>
          <drif-condition-summary
            [conditionForm]="conditionForm"
            [isReadOnlyView]="false"
          ></drif-condition-summary>

          <drr-auth-rep
            [authorizedRepresentativeForm]="authorizedRepresentativeForm"
          ></drr-auth-rep>

          <drr-declaration
            [declarationForm]="declarationForm"
            [authorizedRepresentativeText]="authorizedRepresentativeText"
            [accuracyOfInformationText]="accuracyOfInformationText"
          ></drr-declaration>
        </div>
        <div class="drr-stepper-actions">
          <button mat-stroked-button color="primary" matStepperPrevious>
            Back
          </button>
          <button mat-flat-button color="primary" matStepperNext type="button">
            Submit
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
