<mat-card class="app-stepper-container" *transloco="let t; read: 'condition'">
  <mat-card-header>
    <mat-card-title-group class="app-stepper-header">
      <mat-card-title>
        {{ conditionName }}
      </mat-card-title>
      <div>
        <div class="header-actions">
          <button mat-stroked-button color="primary" (click)="goBack()">
            Exit Form
          </button>
          <button mat-flat-button color="primary" (click)="save()">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
        <div class="save-info">
          <div style="display: flex; flex-direction: row; gap: 1rem">
            <i *ngIf="autoSaveCountdown <= 30 && autoSaveCountdown > 0"
              >Saving in {{ autoSaveCountdown }}
              {{ autoSaveCountdown === 1 ? "second" : "seconds" }}...
            </i>
            <i
              *ngIf="
                lastSavedAt &&
                (autoSaveCountdown === 0 || autoSaveCountdown > 30)
              "
              >Saved at {{ lastSavedAt | date: "mediumTime" }}</i
            >
          </div>
        </div>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-stepper
      class="app-stepper"
      [linear]="false"
      labelPosition="bottom"
      (selectionChange)="stepperSelectionChange($event)"
      [orientation]="stepperOrientation"
      #stepper
    >
      <mat-step
        [label]="t('step1')"
        [stepControl]="conditionForm.get('conditionRequest')!"
        [errorMessage]="'stepError' | transloco"
      >
        <div style="display: flex; flex-direction: column; gap: 2rem">
          <!-- @if (hasConditionDMAPMessage()) {
            <mat-card>
              <mat-card-header>
                <mat-card-title>DMAP Team Message</mat-card-title>
              </mat-card-header>
              <mat-card-content
                style="display: flex; flex-direction: column; gap: 1rem"
              >
                <drr-alert
                  style="margin-top: 1rem"
                  [message]="
                    'You have a message from the DMAP team. Please review the message and adjust your request as needed.'
                  "
                  [type]="'info'"
                >
                </drr-alert>
                <drr-textarea
                  style="margin-top: 1rem"
                  [label]="t('message')"
                  [rxFormControl]="conditionDMAPMessageForm?.get('message')"
                  [disabled]="true"
                ></drr-textarea>
                <div style="display: flex; justify-content: space-between">
                  <drr-datepicker
                    [label]="t('messageDate')"
                    [rxFormControl]="conditionDMAPMessageForm?.get('date')"
                    [disabled]="true"
                  ></drr-datepicker>
                  <drr-input
                    style="width: 25rem"
                    [label]="t('author')"
                    [rxFormControl]="conditionDMAPMessageForm?.get('author')"
                    [disabled]="true"
                  ></drr-input>
                </div>
              </mat-card-content>
            </mat-card>
          } -->
          <mat-card>
            <mat-card-header>
              <mat-card-title> Condition Clearance Request</mat-card-title>
            </mat-card-header>
            <mat-card-content
              style="
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: flex-start;
              "
            >
              <p style="margin-left: 1rem">
                A Request to Clear Condition formally verifies that a project
                condition has been met. Please include an explanation and any
                supporting documents (e.g., permits).
              </p>
              <div style="display: flex; gap: 1rem">
                <drr-input
                  style="width: 50rem"
                  [label]="t('name')"
                  [rxFormControl]="conditionForm.get('conditionRequest.name')"
                  [disabled]="true"
                ></drr-input>
                <drr-numeric-input
                  [label]="t('limit')"
                  [rxFormControl]="conditionForm.get('conditionRequest.limit')"
                  [disabled]="true"
                  numericType="percentage"
                ></drr-numeric-input>
              </div>

              <mat-label>
                Provide an explanation for the condition clearance request.
              </mat-label>
              <drr-textarea
                style="align-self: stretch"
                [label]="t('description')"
                [rxFormControl]="
                  conditionForm.get('conditionRequest.description')
                "
                [maxlength]="2000"
              ></drr-textarea>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Attachments</mat-card-title>
            </mat-card-header>
            <mat-card-content
              style="display: flex; flex-direction: column; gap: 1rem"
            >
              <drr-attachment
                *ngFor="
                  let attachmentControl of attachmentsArray.controls;
                  let i = index
                "
                [title]="i == 0 ? 'Supporting Attachments' : ''"
                [attachmentForm]="attachmentControl"
                (removeFile)="removeFile($event)"
                (downloadFile)="downloadFile($event)"
                [maxCommentsLength]="50"
                [inputType]="'input'"
              ></drr-attachment>

              <div style="display: flex; flex-direction: column; gap: 1rem">
                <div>
                  <mat-label class="drr-label">
                    {{
                      attachmentsArray.controls.length > 0
                        ? t("additionalAttachments")
                        : t("requiredAttachments") + "*"
                    }}
                  </mat-label>
                  <div
                    *ngIf="
                      attachmentsArray.touched && attachmentsArray.length === 0
                    "
                    style="color: red"
                  >
                    {{ t("attachmentsRequiredError") }}
                  </div>
                </div>

                <drr-file-upload
                  (filesSelected)="uploadFiles($event)"
                  [attachButtonLabel]="t('uploadAttachment')"
                ></drr-file-upload>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="drr-stepper-action">
          <button mat-flat-button color="primary" matStepperNext type="button">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step
        [label]="t('step2')"
        [stepControl]="authorizedRepresentativeForm!"
        [errorMessage]="'stepError' | transloco"
      >
        <div>
          <drif-condition-summary
            [conditionForm]="conditionForm"
            [isReadOnlyView]="false"
          ></drif-condition-summary>

          <drr-auth-rep
            [authorizedRepresentativeForm]="authorizedRepresentativeForm"
          ></drr-auth-rep>

          <drr-declaration
            [declarationForm]="declarationForm"
            [authorizedRepresentativeText]="authorizedRepresentativeText"
            [accuracyOfInformationText]="accuracyOfInformationText"
          ></drr-declaration>
        </div>
        <div class="drr-stepper-actions">
          <button mat-stroked-button color="primary" matStepperPrevious>
            Back
          </button>
          <button
            mat-flat-button
            color="primary"
            matStepperNext
            type="button"
            (click)="submit()"
          >
            Submit
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
