<div class="app-stepper-container" *transloco="let t; read: 'claim'">
  <div class="app-stepper-header">
    <div style="flex: 1">
      <h5 style="font-size: 1.2rem; margin-bottom: 0.5rem">{{ reportName }}</h5>
      <!-- <span>
            {{ t("project") }}: {{ project?.name }} ({{ project?.id }})
          </span> -->
    </div>
    <div>
      <div class="header-actions">
        <button mat-stroked-button color="primary" (click)="goBack()">
          {{ t("exitForm") }}
        </button>
        <button mat-flat-button color="primary" (click)="save()">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
      <!-- <div class="save-info">
            <div style="display: flex; flex-direction: row; gap: 1rem">
              <i *ngIf="autoSaveCountdown <= 30 && autoSaveCountdown > 0"
                >Saving in {{ autoSaveCountdown }}
                {{ autoSaveCountdown === 1 ? "second" : "seconds" }}...
              </i>
              <i
                *ngIf="
                  lastSavedAt && (autoSaveCountdown === 0 || autoSaveCountdown > 30)
                "
                >Saved at {{ lastSavedAt | date : "mediumTime" }}</i
              >
            </div>
          </div> -->
    </div>
  </div>
  <mat-stepper
    class="app-stepper"
    [linear]="false"
    labelPosition="bottom"
    (selectionChange)="stepperSelectionChange($event)"
    [orientation]="stepperOrientation"
    #stepper
  >
    <mat-step label="Instructions">
      <div>
        <p>
          This form captures the expenses you are claiming for the current
          reporting period. You will need to attach all invoices and your proofs
          of payment.
        </p>
        <p>
          You will be notified if your total expenses put you over any unmet
          payment conditions. In those cases, you will be able to choose between
          updating your claim to ensure it remains under the maximum payment, or
          submitting the claim so that it can be paid once the condition is met.
        </p>
      </div>
      <div class="drr-stepper-action">
        <button mat-flat-button color="primary" matStepperNext type="button">
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step label="Summary of Expenditures">
      @if (claimForm) {
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
          "
        >
          <button
            style="align-self: flex-end"
            (click)="addInvoice()"
            mat-stroked-button
            type="button"
            color="primary"
          >
            <mat-icon>add</mat-icon>
            {{ t("addInvoice") }}
          </button>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: flex-start;
          "
        >
          <drr-radio-button
            [label]="t('skipClaimReport')"
            [rxFormControl]="
              claimForm.get('expenditure')?.get('skipClaimReport')
            "
          ></drr-radio-button>

          <div
            *ngFor="
              let invoice of getInvoiceFormArray()?.controls;
              let i = index
            "
          >
            <mat-card>
              <mat-card-header>
                <mat-card-subtitle> Invoice {{ i + 1 }} </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="invoice-container">
                  <div style="display: flex; gap: 1rem; align-items: flex-end">
                    <drr-input
                      style="width: 30rem"
                      [label]="t('invoiceNumber')"
                      [rxFormControl]="invoice.get('invoiceNumber')"
                      [maxlength]="200"
                    ></drr-input>
                    <drr-datepicker
                      [label]="t('invoiceDate')"
                      [rxFormControl]="invoice.get('date')"
                      [max]="today"
                    ></drr-datepicker>
                    <drr-datepicker
                      [label]="t('workStartDate')"
                      [rxFormControl]="invoice.get('workStartDate')"
                    ></drr-datepicker>
                    <drr-datepicker
                      [label]="t('workEndDate')"
                      [rxFormControl]="invoice.get('workEndDate')"
                    ></drr-datepicker>
                    <drr-datepicker
                      [label]="t('paymentDate')"
                      [rxFormControl]="invoice.get('paymentDate')"
                    ></drr-datepicker>
                  </div>
                  <div
                    style="
                      display: flex;
                      justify-content: flex-start;
                      gap: 1rem;
                      margin-top: 1rem;
                    "
                  ></div>
                  <div style="display: flex; gap: 1rem">
                    <drr-input
                      class="drr-single-input"
                      [label]="t('supplierName')"
                      [rxFormControl]="invoice.get('supplierName')"
                    ></drr-input>
                    <drr-select
                      class="drr-single-input"
                      [label]="t('costCategory')"
                      [rxFormControl]="invoice.get('costCategory')"
                      [options]="costCategoryOptions"
                    ></drr-select>
                  </div>
                  <drr-textarea
                    [label]="t('description')"
                    [rxFormControl]="invoice.get('description')"
                    [maxlength]="2000"
                  ></drr-textarea>
                  <div
                    style="
                      display: flex;
                      gap: 1rem;
                      margin-top: 1rem;
                      align-items: flex-end;
                    "
                  >
                    <drr-currency-input
                      [label]="t('grossAmount')"
                      [rxFormControl]="invoice.get('grossAmount')"
                    ></drr-currency-input>
                    <drr-currency-input
                      [label]="t('taxRebate')"
                      [rxFormControl]="invoice.get('taxRebate')"
                    ></drr-currency-input>
                    <drr-currency-input
                      [label]="t('totalPST')"
                      [rxFormControl]="invoice.get('totalPST')"
                    ></drr-currency-input>
                    <drr-currency-input
                      [label]="t('totalGST')"
                      [rxFormControl]="invoice.get('totalGST')"
                    ></drr-currency-input>
                    <drr-currency-input
                      class="drr-single-input"
                      [label]="t('claimAmount')"
                      [rxFormControl]="invoice.get('claimAmount')"
                    ></drr-currency-input>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions [align]="'end'">
                <button
                  mat-stroked-button
                  color="warn"
                  (click)="removeInvoice(i)"
                  type="button"
                >
                  {{ t("delete") }}
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
          <drr-textarea
            [label]="t('claimComment')"
            [rxFormControl]="claimForm.get('expenditure')?.get('claimComment')"
            [maxlength]="2000"
          >
          </drr-textarea>

          <mat-divider style="margin: 2rem 0"></mat-divider>

          <h5>Claim Summary</h5>

          <div>
            <table class="claim-summary-table">
              <tr>
                <td>Earliest Invoice</td>
                <td>{{ getEarliestInvoiceDate() | date: "yyyy-MM-dd" }}</td>
              </tr>
              <tr>
                <td>Latest Invoice</td>
                <td>{{ getLatestInvoiceDate() | date: "yyyy-MM-dd" }}</td>
              </tr>
              <tr>
                <td>Earliest Goods and Services Work Start Date</td>
                <td>
                  {{
                    getEarliestGoodsAndServicesWorkStartDate()
                      | date: "yyyy-MM-dd"
                  }}
                </td>
              </tr>
              <tr>
                <td>Latest Goods and Services Work End Date</td>
                <td>
                  {{
                    getLatestGoodsAndServicesWorkEndDate() | date: "yyyy-MM-dd"
                  }}
                </td>
              </tr>
              <tr>
                <td>Number of Invoices</td>
                <td>{{ getNumberOfInvoices() }}</td>
              </tr>
              <tr>
                <td>Total Amount of this Claim</td>
                <td>{{ getTotalClaimAmount() | currency }}</td>
              </tr>
            </table>
          </div>
        </div>
      }
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button mat-flat-button color="primary" matStepperNext type="button">
          {{ t("next") }}
        </button>
      </div>
    </mat-step>
    <mat-step label="Review & Declaration">
      <div></div>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          Back
        </button>
        <button
          id="submit"
          mat-flat-button
          color="primary"
          type="button"
          (click)="submit()"
        >
          Submit
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
