.invoice-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.claim-summary-table {
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  th,
  td {
    padding: 0.75rem;
    text-align: left;
  }

  th {
    background: #e8f3ff;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  td {
    background: #fff;
    border-bottom: 1px solid #eee;
  }

  tr {
    &:last-child td {
      border-bottom: none;
    }
  }
}

.invoice-file-upload {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 0.5rem;
  width: 50rem;
}

:host {
  ::ng-deep .mat-mdc-table .mat-mdc-header-cell {
    background: #e8f3ff;
    font-weight: bold;
  }

  ::ng-deep .mat-sort-header-content {
    text-align: start;
  }
}
