.invoice-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.claim-summary-table {
  border-collapse: collapse;
  margin-top: 1rem;

  th,
  td {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background: #e8f3ff;
    font-weight: bold;
  }

  td {
    background: #fff;
  }

  th:first-child,
  td:first-child {
    border-left: none;
  }

  th:last-child,
  td:last-child {
    border-right: none;
  }

  tr:first-child td {
    border-top: none;
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.invoice-file-upload {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 0.5rem;
  width: 50rem;
}
