<div class="drr-step-container" *transloco="let t">
  <div style="width: 50%">
    <h3>{{ t("estimatedTotal") }}</h3>
    <drr-currency-input
      class="drr-single-input"
      [id]="'estimatedTotal'"
      [label]="t('estimatedTotal')"
      [rxFormControl]="fundingInformationForm.get('estimatedTotal')"
      [max]="999999999"
    ></drr-currency-input>
  </div>

  <div style="width: 50%">
    <h3>{{ t("fundingRequest") }}</h3>
    <drr-currency-input
      class="drr-single-input"
      [id]="'fundingRequest'"
      [label]="t('fundingRequest')"
      [rxFormControl]="fundingInformationForm.get('fundingRequest')"
      [max]="999999999"
    ></drr-currency-input>
  </div>

  <div>
    <h3>{{ t("otherFunding") }}</h3>
    <drr-radio-button
      [label]="t('haveOtherFunding')"
      [rxFormControl]="fundingInformationForm.get('haveOtherFunding')"
    ></drr-radio-button>

    @if (fundingInformationForm.get("haveOtherFunding")?.value === true) {
      <drr-funding-list
        [fundingFormArray]="getFormArray('otherFunding')"
      ></drr-funding-list>
    }

    <div
      *ngIf="showRemainingAmount()"
      style="display: flex; flex-direction: column"
    >
      <mat-label
        *ngIf="getRemainingAmount() !== null"
        class="drr-label"
        style="margin-top: 10px"
        >{{
          getRemainingAmount() > 0
            ? t("missingFundsLabel")
            : t("excessFundingLabel")
        }}</mat-label
      >
      <mat-label
        *ngIf="getRemainingAmount() !== null"
        [style.color]="getRemainingAmount() < 0 ? 'red' : 'initial'"
        >{{ getRemainingAmountAbs() | currency }}</mat-label
      >
      <mat-hint *ngIf="getRemainingAmount() < 0" style="color: red">{{
        t("excessFundingTextEoi")
      }}</mat-hint>
      <mat-hint *ngIf="getRemainingAmount() == 0">{{
        t("noExcessFundingText")
      }}</mat-hint>

      <drr-textarea
        *ngIf="getRemainingAmount() > 0"
        style="margin-top: 10px"
        [id]="'intendToSecureFunding'"
        [label]="t('intendToSecureFunding')"
        [maxlength]="2000"
        [rxFormControl]="fundingInformationForm.get('intendToSecureFunding')"
      ></drr-textarea>
    </div>
  </div>
</div>
