.impacted-infrastructure-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.impacted-infrastructure-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  drr-input {
    width: 25vw;
  }
}
