<div class="summary-container" *transloco="let t; read: 'forecast'">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("step1") }}</mat-card-title>
      <mat-card-subtitle>Step 1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Budget Forecast Report</mat-card-title>
      <mat-card-subtitle>Step 2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="summary-card-content">
      <table class="forecast-table">
        <tr>
          <th>Fiscal Year</th>
          <th>Forecast</th>
          <th>Total Projected Expenditure <br />for the fiscal year*</th>
          <!-- <th>Claims Paid to date</th>
          <th>Claims Submitted Not Paid</th> -->
          <th>Claims on this report*</th>
          <!-- <th>
            Remaining Claims <br />
            for the fiscal year
          </th> -->
        </tr>
        <tr
          *ngFor="
            let yearForecast of yearForecastFormArray?.controls;
            let i = index
          "
        >
          <td>
            <drr-summary-item
              [rxFormControl]="yearForecast.get('fiscalYear')"
            ></drr-summary-item>
          </td>
          <td>
            <drr-summary-item
              [rxFormControl]="yearForecast.get('forecastAmount')"
              controlType="currency"
            ></drr-summary-item>
          </td>
          <td>
            <drr-summary-item
              [rxFormControl]="yearForecast.get('totalProjectedExpenditure')"
              controlType="currency"
            >
            </drr-summary-item>
          </td>
          <!-- <td>
            {{ yearForecast.get("claimsPaidToDate")?.value | currency }}
          </td>
          <td>
            {{ yearForecast.get("claimsSubmittedNotPaid")?.value | currency }}
          </td> -->
          <td>
            <drr-summary-item
              [rxFormControl]="yearForecast.get('claimsOnThisReport')"
              controlType="currency"
            ></drr-summary-item>
          </td>
          <!-- <td>
            {{ yearForecast.get("remainingClaims")?.value | currency }}
          </td> -->
        </tr>
      </table>

      <drr-summary-item
        [label]="t('totalProjectedExpenditure')"
        [rxFormControl]="budgetForecastForm?.get('totalProjectedExpenditure')"
        controlType="currency"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('originalForecast')"
        [rxFormControl]="budgetForecastForm?.get('originalForecast')"
        controlType="currency"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('variance')"
        [rxFormControl]="budgetForecastForm?.get('variance')"
        controlType="currency"
      ></drr-summary-item>

      @if (budgetForecastForm?.get("variance")?.value != 0) {
        <drr-summary-item
          [label]="t('varianceComment')"
          [rxFormControl]="budgetForecastForm?.get('varianceComment')"
          controlType="textarea"
        ></drr-summary-item>
      }
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{ t("step3") }} </mat-card-title>
      <mat-card-subtitle>Step 3</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="summary-card-content">
      @if (!hasAttachments()) {
        (Optional)
      }

      <div
        class="summary-row"
        *ngFor="let attachment of attachmentsArray?.controls"
      >
        <drr-summary-item
          [label]="'attachments.name' | transloco"
          [rxFormControl]="attachment.get('name')"
        >
        </drr-summary-item>
        <drr-summary-item
          [label]="'attachments.comments' | transloco"
          [rxFormControl]="attachment.get('comments')"
        >
        </drr-summary-item>
        <button
          *ngIf="isReadOnlyView"
          style="align-self: center"
          mat-button
          color="primary"
          (click)="onDownloadFile(attachment.get('id')?.value)"
        >
          Download
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isReadOnlyView">
    <mat-card-header>
      <mat-card-title> {{ t("step4") }} </mat-card-title>
      <mat-card-subtitle>Step 4</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="summary-card-content">
      <div>
        <mat-label class="drr-label">{{
          "authorizedRepresentativeLabel" | transloco
        }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="'firstName' | transloco"
            [rxFormControl]="
              declarationForm?.get('authorizedRepresentative.firstName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'lastName' | transloco"
            [rxFormControl]="
              declarationForm?.get('authorizedRepresentative.lastName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'title' | transloco"
            [rxFormControl]="
              declarationForm?.get('authorizedRepresentative.title')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'department' | transloco"
            [rxFormControl]="
              declarationForm?.get('authorizedRepresentative.department')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'phone' | transloco"
            [rxFormControl]="
              declarationForm?.get('authorizedRepresentative.phone')
            "
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'email' | transloco"
            [rxFormControl]="
              declarationForm?.get('authorizedRepresentative.email')
            "
          >
          </drr-summary-item>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
