<div class="summary-container" *transloco="let t; read: 'forecast'">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Budget Forecast Report</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: flex; flex-direction: column; gap: 1rem">
      <table class="forecast-table">
        <tr>
          <th>Fiscal Year</th>
          <th>Forecast</th>
          <th>Total Projected Expenditure <br />for the fiscal year*</th>
          <th>Claims Paid to date</th>
          <th>Claims Submitted Not Paid</th>
          <th>Claims on this report*</th>
          <th>
            Remaining Claims <br />
            for the fiscal year
          </th>
        </tr>
        <tr
          *ngFor="
            let yearForecast of yearForecastFormArray.controls;
            let i = index
          "
        >
          <td>{{ yearForecast.get("fiscalYear")?.value }}</td>
          <td>
            {{ yearForecast.get("forecastAmount")?.value | currency }}
          </td>
          <td>
            {{
              yearForecast.get("totalProjectedExpenditure")?.value | currency
            }}
          </td>
          <td>
            {{ yearForecast.get("claimsPaidToDate")?.value | currency }}
          </td>
          <td>
            {{ yearForecast.get("claimsSubmittedNotPaid")?.value | currency }}
          </td>
          <td>
            {{ yearForecast.get("claimsOnThisReport")?.value | currency }}
          </td>
          <td>
            {{ yearForecast.get("remainingClaims")?.value | currency }}
          </td>
        </tr>
      </table>

      <drr-summary-item
        [label]="t('totalProjectedExpenditure')"
        [rxFormControl]="budgetForecastForm.get('totalProjectedExpenditure')"
        controlType="currency"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('originalForecast')"
        [rxFormControl]="budgetForecastForm.get('originalForecast')"
        controlType="currency"
      ></drr-summary-item>

      <drr-summary-item
        [label]="t('variance')"
        [rxFormControl]="budgetForecastForm.get('variance')"
        controlType="currency"
      ></drr-summary-item>

      @if (budgetForecastForm.get("variance")?.value != 0) {
        <drr-summary-item
          [label]="t('varianceComment')"
          [rxFormControl]="budgetForecastForm.get('varianceComment')"
          controlType="textarea"
        ></drr-summary-item>
      }
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Attachments </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (!hasAttachments()) {
        <p>(Optional)</p>
      }

      <div
        class="summary-row"
        *ngFor="let attachment of attachmentsArray.controls"
      >
        <drr-summary-item
          [label]="t('attachments.name')"
          [rxFormControl]="attachment.get('name')"
        >
        </drr-summary-item>
        <drr-summary-item
          [label]="t('attachments.comments')"
          [rxFormControl]="attachment.get('comments')"
        >
        </drr-summary-item>
        <button
          *ngIf="isReadOnlyView"
          style="align-self: center"
          mat-button
          color="primary"
          (click)="onDownloadFile(attachment.get('id')?.value)"
        >
          Download
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isReadOnlyView">
    <mat-card-header>
      <mat-card-title> Review & Declaration </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-label class="drr-label">{{
          "authorizedRepresentative" | transloco
        }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('firstName')"
            [rxFormControl]="
              declarationForm.get('authorizedRepresentative.firstName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('lastName')"
            [rxFormControl]="
              declarationForm.get('authorizedRepresentative.lastName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('title')"
            [rxFormControl]="
              declarationForm.get('authorizedRepresentative.title')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('department')"
            [rxFormControl]="
              declarationForm.get('authorizedRepresentative.department')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('phone')"
            [rxFormControl]="
              declarationForm.get('authorizedRepresentative.phone')
            "
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="t('email')"
            [rxFormControl]="
              declarationForm.get('authorizedRepresentative.email')
            "
          >
          </drr-summary-item>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
