<div class="app-stepper-container" *transloco="let t; read: 'forecast'">
  <div class="app-stepper-header">
    <div style="flex: 1">
      <h5 style="font-size: 1.2rem; margin-bottom: 0.5rem">{{ reportName }}</h5>
      <!-- <span>
              {{ t("project") }}: {{ project?.name }} ({{ project?.id }})
            </span> -->
    </div>
    <div>
      <div class="header-actions">
        <button mat-stroked-button color="primary" (click)="goBack()">
          {{ "exitForm" | transloco }}
        </button>
        <button mat-flat-button color="primary" (click)="save()">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
      <!-- <div class="save-info">
              <div style="display: flex; flex-direction: row; gap: 1rem">
                <i *ngIf="autoSaveCountdown <= 30 && autoSaveCountdown > 0"
                  >Saving in {{ autoSaveCountdown }}
                  {{ autoSaveCountdown === 1 ? "second" : "seconds" }}...
                </i>
                <i
                  *ngIf="
                    lastSavedAt && (autoSaveCountdown === 0 || autoSaveCountdown > 30)
                  "
                  >Saved at {{ lastSavedAt | date : "mediumTime" }}</i
                >
              </div>
            </div> -->
    </div>
  </div>
  <mat-stepper
    class="app-stepper"
    [linear]="false"
    labelPosition="bottom"
    (selectionChange)="stepperSelectionChange($event)"
    [orientation]="stepperOrientation"
    #stepper
  >
    <mat-step label="Instructions">
      <div>
        <p>
          This form captures your year-over-year budget forecast for the
          project.
        </p>
        <p>
          If this is your first time completing the forecast, you will be able
          to update the original forecast from your full proposal. Otherwise,
          you will update the forecast from your last forecast report.
        </p>
        <p>
          You will also need to enter your total claim amount for this reporting
          period. Because of this, you may want to complete your claim first.
        </p>
      </div>
      <div class="drr-stepper-action">
        <button mat-flat-button color="primary" matStepperNext type="button">
          {{ "next" | transloco }}
        </button>
      </div>
    </mat-step>
    <mat-step label="Budget Forecast Report" [stepControl]="budgetForecastForm">
      <div style="display: flex; flex-direction: column; gap: 1rem">
        <table class="forecast-table">
          <tr>
            <th>Fiscal Year</th>
            <th>Forecast</th>
            <th>Total Projected Expenditure <br />for fiscal year*</th>
            <th>Claims Paid to date</th>
            <th>Claims Submitted Not Paid</th>
            <th>Claims on this report*</th>
            <th>
              Remaining Claims <br />
              for fiscal year
            </th>
          </tr>
          <tr
            *ngFor="
              let yearForecast of getYearForecastFormArray().controls;
              let i = index
            "
          >
            <td>{{ yearForecast.get("fiscalYear")?.value }}</td>
            <td>
              {{ yearForecast.get("originalForecast")?.value | currency }}
            </td>
            <td style="padding-top: 1rem">
              <drr-currency-input
                [rxFormControl]="yearForecast.get('projectedExpenditure')"
              ></drr-currency-input>
            </td>
            <td>
              {{ yearForecast.get("paidClaimsAmount")?.value | currency }}
            </td>
            <td>
              {{ yearForecast.get("notPaidClaimsAmount")?.value | currency }}
            </td>
            <td style="padding-top: 1rem">
              <drr-currency-input
                [rxFormControl]="yearForecast.get('outstandingClaimsAmount')"
              ></drr-currency-input>
            </td>
            <td>
              {{ yearForecast.get("remainingClaimsAmount")?.value | currency }}
            </td>
          </tr>
        </table>

        <div>total</div>
        <div>variance</div>
      </div>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ "back" | transloco }}
        </button>
        <button mat-flat-button color="primary" matStepperNext type="button">
          {{ "next" | transloco }}
        </button>
      </div>
    </mat-step>
    <mat-step label="Attachments" [stepControl]="attachmentsForm">
      <div></div>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ "back" | transloco }}
        </button>
        <button mat-flat-button color="primary" matStepperNext type="button">
          {{ "next" | transloco }}
        </button>
      </div>
    </mat-step>
    <mat-step label="Review & Declaration" [stepControl]="declarationForm">
      <div>
        <form
          [formGroup]="declarationForm"
          style="display: flex; flex-direction: column; gap: 1rem"
        >
          <mat-label class="drr-label">{{
            "authorizedRepresentative" | transloco
          }}</mat-label>
          <div class="contacts-container">
            <drr-input
              [label]="t('firstName')"
              [rxFormControl]="
                declarationForm.get('authorizedRepresentative.firstName')
              "
              [maxlength]="40"
            ></drr-input>
            <drr-input
              [label]="t('lastName')"
              [rxFormControl]="
                declarationForm.get('authorizedRepresentative.lastName')
              "
              [maxlength]="40"
            ></drr-input>
            <drr-input
              [label]="t('title')"
              [rxFormControl]="
                declarationForm.get('authorizedRepresentative.title')
              "
              [maxlength]="100"
            ></drr-input>
            <drr-input
              [label]="t('department')"
              [rxFormControl]="
                declarationForm.get('authorizedRepresentative.department')
              "
              [maxlength]="40"
            ></drr-input>
            <drr-input
              [label]="t('phone')"
              [rxFormControl]="
                declarationForm.get('authorizedRepresentative.phone')
              "
              [maxlength]="10"
              [type]="'tel'"
            ></drr-input>
            <drr-input
              [label]="t('email')"
              [rxFormControl]="
                declarationForm.get('authorizedRepresentative.email')
              "
              [maxlength]="100"
              [type]="'email'"
            ></drr-input>
          </div>

          <mat-label class="drr-label">
            {{ "authorizedRepresentativeStatement" | transloco }}
          </mat-label>
          <div style="display: flex; flex-direction: column">
            <mat-label> {{ authorizedRepresentativeText }} *</mat-label>
            <mat-checkbox formControlName="authorizedRepresentativeStatement">
              {{ "agree" | transloco }}
            </mat-checkbox>
            <mat-error
              *ngIf="
                declarationForm.get('authorizedRepresentativeStatement')
                  ?.touched &&
                declarationForm
                  .get('authorizedRepresentativeStatement')
                  ?.hasError('requiredTrue')
              "
              >{{ "required" | transloco }}</mat-error
            >
          </div>

          <mat-label class="drr-label">{{
            "informationAccuracyStatement" | transloco
          }}</mat-label>
          <div style="display: flex; flex-direction: column">
            <mat-label> {{ accuracyOfInformationText }} *</mat-label>
            <mat-checkbox formControlName="informationAccuracyStatement">
              {{ "agree" | transloco }}
            </mat-checkbox>
            <mat-error
              *ngIf="
                declarationForm.get('informationAccuracyStatement')?.touched &&
                declarationForm
                  .get('informationAccuracyStatement')
                  ?.hasError('requiredTrue')
              "
              >{{ "required" | transloco }}</mat-error
            >
          </div>
        </form>
      </div>
      <div class="drr-stepper-actions">
        <button mat-stroked-button color="primary" matStepperPrevious>
          {{ "back" | transloco }}
        </button>
        <button mat-flat-button color="primary" matStepperNext type="button">
          {{ "submit" | transloco }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
