<div class="summary-container" *transloco="let t; read: 'claim'">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("step2") }}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="gap: 1rem">
      <drr-summary-item
        [label]="t('haveClaimExpenses')"
        [rxFormControl]="claimForm?.get('expenditure.haveClaimExpenses')"
        controlType="radio"
      ></drr-summary-item>
      <mat-label class="drr-label">Invoices</mat-label>
      <div
        class="invoice-summary-row"
        *ngFor="let invoice of getInvoiceFormArray()?.controls; let i = index"
      >
        <mat-label>Invoice {{ i + 1 }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('invoiceNumber')"
            [rxFormControl]="invoice.get('invoiceNumber')"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('invoiceDate')"
            [rxFormControl]="invoice.get('date')"
            controlType="date"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('workStartDate')"
            [rxFormControl]="invoice.get('workStartDate')"
            controlType="date"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('workEndDate')"
            [rxFormControl]="invoice.get('workEndDate')"
            controlType="date"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('paymentDate')"
            [rxFormControl]="invoice.get('paymentDate')"
            controlType="date"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('supplierName')"
            [rxFormControl]="invoice.get('supplierName')"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('costCategory')"
            [rxFormControl]="invoice.get('costCategory')"
            controlType="select"
          ></drr-summary-item>
        </div>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('description')"
            [rxFormControl]="invoice.get('description')"
            controlType="textarea"
          ></drr-summary-item>
        </div>
        <div class="summary-row">
          <drr-summary-item
            [label]="t('grossAmount')"
            [rxFormControl]="invoice.get('grossAmount')"
            controlType="currency"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('taxRebate')"
            [rxFormControl]="invoice.get('taxRebate')"
            controlType="currency"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('totalPST')"
            [rxFormControl]="invoice.get('totalPST')"
            controlType="currency"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('totalGST')"
            [rxFormControl]="invoice.get('totalGST')"
            controlType="currency"
          ></drr-summary-item>
          <drr-summary-item
            [label]="t('claimAmount')"
            [rxFormControl]="invoice.get('claimAmount')"
            controlType="currency"
          ></drr-summary-item>
        </div>
        <div class="summary-row">
          <div>
            <drr-summary-item
              [label]="t('invoice')"
              [rxFormControl]="getInvoceAttachment(invoice)?.get('name')"
            >
            </drr-summary-item>
            <button
              *ngIf="isReadOnlyView"
              style="align-self: center"
              mat-button
              color="primary"
              (click)="
                onDownloadFile(getInvoceAttachment(invoice)?.get('id')?.value)
              "
            >
              Download
            </button>
          </div>
          <div>
            <drr-summary-item
              [label]="t('proofOfPayment')"
              [rxFormControl]="
                getProofOfPaymentAttachment(invoice)?.get('name')
              "
            >
            </drr-summary-item>
            <button
              *ngIf="isReadOnlyView"
              style="align-self: center"
              mat-button
              color="primary"
              (click)="
                onDownloadFile(
                  getProofOfPaymentAttachment(invoice)?.get('id')?.value
                )
              "
            >
              Download
            </button>
          </div>
        </div>
      </div>
      <drr-summary-item
        [label]="t('claimComment')"
        [rxFormControl]="claimForm?.get('expenditure.claimComment')"
        controlType="textarea"
      ></drr-summary-item>
      <drr-summary-item
        [label]="t('totalClaimed')"
        [rxFormControl]="claimForm?.get('expenditure.totalClaimed')"
        controlType="currency"
      ></drr-summary-item>
      <drr-summary-item
        [label]="t('totalProjectAmount')"
        [rxFormControl]="claimForm?.get('expenditure.totalProjectAmount')"
        controlType="currency"
      ></drr-summary-item>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="isReadOnlyView">
    <mat-card-header>
      <mat-card-title>{{ t("step3") }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-label class="drr-label">{{
          "authorizedRepresentativeLabel" | transloco
        }}</mat-label>
        <div class="summary-row">
          <drr-summary-item
            [label]="'firstName' | transloco"
            [rxFormControl]="
              claimForm?.get('declaration.authorizedRepresentative.firstName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'lastName' | transloco"
            [rxFormControl]="
              claimForm?.get('declaration.authorizedRepresentative.lastName')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'title' | transloco"
            [rxFormControl]="
              claimForm?.get('declaration.authorizedRepresentative.title')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'department' | transloco"
            [rxFormControl]="
              claimForm?.get('declaration.authorizedRepresentative.department')
            "
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'phone' | transloco"
            [rxFormControl]="
              claimForm?.get('declaration.authorizedRepresentative.phone')
            "
            controlType="phone"
          >
          </drr-summary-item>

          <drr-summary-item
            [label]="'email' | transloco"
            [rxFormControl]="
              claimForm?.get('declaration.authorizedRepresentative.email')
            "
          >
          </drr-summary-item>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
