<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="projectInformationForm">
    <h3>{{ t("fundingStream") }}*</h3>
    <drr-radio-button
      [rxFormControl]="projectInformationForm.get('fundingStream')"
      [options]="fundingStreamOptions"
    ></drr-radio-button>

    <h3>{{ t("projectTitle") }}</h3>
    <drr-input
      class="drr-single-input"
      [id]="'projectTitle'"
      [label]="t('projectTitle')"
      [rxFormControl]="projectInformationForm.get('projectTitle')"
      [maxlength]="100"
    ></drr-input>

    <h3>{{ t("scopeStatement") }}</h3>
    <drr-input
      class="drr-single-input"
      [id]="'scopeStatement'"
      [label]="t('scopeStatement')"
      [rxFormControl]="projectInformationForm.get('scopeStatement')"
      [maxlength]="100"
    ></drr-input>

    <h3>{{ t("stream") }}*</h3>
    <drr-radio-button
      [rxFormControl]="projectInformationForm.get('stream')"
      [options]="streamOptions"
    ></drr-radio-button>

    <h3>{{ t("relatedHazards") }}</h3>

    <drr-select
      class="drr-single-input"
      [id]="'relatedHazards'"
      [label]="t('relatedHazards')"
      [rxFormControl]="getFormArray('relatedHazards')"
      [options]="hazardsOptions"
      [isMultiple]="true"
    ></drr-select>

    <drr-input
      *ngIf="otherHazardSelected()"
      class="drr-single-input"
      [id]="'otherHazardsDescription'"
      [label]="t('otherHazardsDescription')"
      [rxFormControl]="projectInformationForm.get('otherHazardsDescription')"
      [maxlength]="100"
    ></drr-input>

    <h3>{{ t("projectDates") }}</h3>
    <div class="project-dates-container">
      <drr-datepicker
        [id]="'startDate'"
        [label]="t('startDate')"
        [rxFormControl]="projectInformationForm.get('startDate')"
        [min]="minStartDate"
        [minErrorLabel]="t('minStartDateError')"
      ></drr-datepicker>

      <drr-datepicker
        [id]="'endDate'"
        [label]="t('endDate')"
        [rxFormControl]="projectInformationForm.get('endDate')"
        [min]="getNextDayAfterStartDate()"
        [minErrorLabel]="t('minEndDateAfterError')"
      ></drr-datepicker>
    </div>
  </form>
</div>
