<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="permitsRegulationsAndStandardsForm">
    <h3>{{ t("standardsAcceptable") }}</h3>
    <drr-radio-button
      [label]="t('standardsAcceptableQuestion')"
      [options]="standardsAcceptableOptions"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('standardsAcceptable')
      "
    ></drr-radio-button>

    @if (standardsVisible) {
      <mat-label style="margin: 1rem 0">
        {{ t("standardsAcceptableHint") }}
      </mat-label>
      <mat-error *ngIf="showStandardsRequiredTrueError()">{{
        t("standardsAcceptableError")
      }}</mat-error>

      <div formArrayName="standards">
        <div
          *ngFor="let control of getStandardsInfoArrayControls(); let i = index"
          [formGroupName]="i"
        >
          <mat-checkbox
            style="margin-bottom: 1rem"
            formControlName="isCategorySelected"
            >{{ control.value.category }}</mat-checkbox
          >

          <drr-chip-autocomplete
            [label]="control.value.category + ' standards'"
            [placeholder]="t('autocompletePlaceholder')"
            [options]="getStandardsOptions(control.value.category)"
            [rxFormControl]="control.get('standards')"
          ></drr-chip-autocomplete>
        </div>
      </div>
    }

    <drr-textarea
      [label]="t('standardsComments')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('standardsComments')
      "
    ></drr-textarea>

    <h3>{{ t("professionalGuidance") }}</h3>
    <drr-radio-button
      [label]="t('professionalGuidanceQuestion')"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('professionalGuidance')
      "
      [options]="professionalGuidanceOptions"
    ></drr-radio-button>

    @if (
      permitsRegulationsAndStandardsForm.get("professionalGuidance")?.value ===
      true
    ) {
      <mat-label>{{ t("professionals") }}*</mat-label>
      <drr-select
        [label]="'Qualified Professionals'"
        class="drr-single-input"
        [rxFormControl]="
          permitsRegulationsAndStandardsForm.get('professionals')
        "
        [options]="professionalOptions"
        [isMultiple]="true"
      >
      </drr-select>
    }

    <drr-textarea
      [label]="t('professionalGuidanceComments')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('professionalGuidanceComments')
      "
    ></drr-textarea>

    <drr-textarea
      [label]="t('knowledgeHolders')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('knowledgeHolders')
      "
    ></drr-textarea>

    <h3>{{ t("regulations") }}</h3>
    <drr-radio-button
      [label]="t('meetsRegulatoryRequirements')"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('meetsRegulatoryRequirements')
      "
    ></drr-radio-button>
    <drr-textarea
      [label]="t('meetsRegulatoryComments')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('meetsRegulatoryComments')
      "
    ></drr-textarea>

    <h3>{{ t("approvals") }}</h3>
    <drr-radio-button
      [label]="t('meetsEligibilityRequirements')"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('meetsEligibilityRequirements')
      "
    ></drr-radio-button>

    <div
      *ngIf="
        permitsRegulationsAndStandardsForm.get('meetsEligibilityRequirements')
          ?.value === true
      "
    >
      <h3 style="margin-top: 2rem">{{ t("permits") }}</h3>
      <div
        class="permit-container"
        *ngFor="let permit of getPermitsFormArray().controls; let i = index"
      >
        <drr-textarea
          #permitInput
          style="width: 95%"
          [id]="'permit_' + i"
          [label]="t('permitLabel')"
          [rxFormControl]="permit.get('value')"
          [maxlength]="200"
          [rows]="2"
        ></drr-textarea>
        <button
          style="align-self: center"
          *ngIf="i > 0"
          mat-raised-button
          color="warn"
          (click)="removePermit(i)"
        >
          <mat-icon>delete</mat-icon>
          {{ t("delete") }}
        </button>
      </div>

      <button
        style="margin-top: 1rem"
        [style.padding]="isMobile ? '24px 16px' : ''"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addPermit()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addPermit") }}
      </button>
    </div>

    <drr-textarea
      style="margin-top: 1rem"
      [label]="t('meetsEligibilityComments')"
      [maxlength]="2000"
      [rxFormControl]="
        permitsRegulationsAndStandardsForm.get('meetsEligibilityComments')
      "
    ></drr-textarea>
  </form>
</div>
