<div *transloco="let t; read: 'dashboard'" class="dashboard-container">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let tab of tabs"
      (click)="activeTab = tab.type"
      [routerLink]="tab.link"
      [active]="activeTab == tab.type"
    >
      {{ t(tab.label) }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <!-- use this if component need to be reloaded and data refetched -->
    <!-- consider using RouteReuseStrategy to avoid redundant calls on switching tabs -->
    <!--  <router-outlet></router-outlet> -->
  </mat-tab-nav-panel>

  <!-- this part imitates tab content -->
  <div class="tab-content">
    <drr-submission-list
      [hidden]="activeTab !== tabType.SUBMISSIONS"
    ></drr-submission-list>
    <drr-project-list
      [hidden]="activeTab !== tabType.PROJECTS"
    ></drr-project-list>
  </div>
</div>
