<div class="drif-project-container" *transloco="let t; read: 'project'">
  <mat-card *ngIf="!!project">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h2>
            {{ project.projectTitle }}
          </h2>
        </mat-card-title>
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="[projectsRoute]"
        >
          Back
        </button>
        <mat-card-subtitle>for {{ project.proponentName }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="drif-project-details">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Project Details</h3>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="project-details-table">
          <span>
            <div>
              <strong>ID: </strong>
              {{ projectId }}
            </div>
            <div>
              <strong>Contract ID: </strong>{{ project.contractNumber }}
            </div>
            <div><strong>Project Status: </strong>{{ t(project.status!) }}</div>
          </span>
          <span>
            <div>
              <strong>Funding Program: </strong
              >{{ project.programType | transloco }}
            </div>
            <div>
              <strong>Project Type: </strong>{{ t(project.fundingStream!) }}
            </div>
          </span>

          <span>
            <div>
              <strong>Reporting Schedule: </strong
              >{{ t(project.reportingScheduleType!) }}
            </div>
            <div>
              <strong>Funding Amount: </strong
              >{{ project.fundingAmount | currency: "" : "symbol" : "1.0-0" }}
            </div>
          </span>

          <span>
            <div>
              <strong>Planned Start Date: </strong
              >{{ project.startDate | date: "yyyy-MM-dd" }}
            </div>
            <div>
              <strong>Planned End Date: </strong
              >{{ project.endDate | date: "yyyy-MM-dd" }}
            </div>
          </span>

          <span>
            <div>
              <strong>EOI: </strong>
              <a [routerLink]="['/eoi-submission-details', project.eoiId]">{{
                project.eoiId
              }}</a>
            </div>
            <div>
              <strong>Full Proposal: </strong
              ><a [routerLink]="['/fp-submission-details', project.fpId]">{{
                project.fpId
              }}</a>
            </div>
          </span>
        </mat-card-content>
      </mat-card>
      <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 4rem">
        <div>
          <h3 style="margin-left: 1rem">Conditions</h3>
          <table
            mat-table
            [dataSource]="conditionsDataSource"
            multiTemplateDataRows
          >
            <ng-container matColumnDef="conditionName">
              <th mat-header-cell *matHeaderCellDef>Condition</th>
              <td mat-cell *matCellDef="let condition">
                {{ condition.conditionName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="limit">
              <th mat-header-cell *matHeaderCellDef>Limit</th>
              <td mat-cell *matCellDef="let condition">
                {{ condition.limit }}%
              </td>
            </ng-container>
            <ng-container matColumnDef="conditionMet">
              <th mat-header-cell *matHeaderCellDef>Condition Met?</th>
              <td mat-cell *matCellDef="let condition">
                {{ condition.conditionMet ? "Yes" : "No" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="dateMet">
              <th mat-header-cell *matHeaderCellDef>Date Met</th>
              <td mat-cell *matCellDef="let condition">
                {{ condition.dateMet | date: "yyyy-MM-dd" }}
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="[
                'conditionName',
                'limit',
                'conditionMet',
                'dateMet',
              ]"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                columns: ['conditionName', 'limit', 'conditionMet', 'dateMet']
              "
            ></tr>
          </table>
        </div>
        <div>
          <h3 style="margin-left: 1rem">Cost Projections</h3>
          <table
            mat-table
            [dataSource]="costProjectionsDataSource"
            multiTemplateDataRows
          >
            <ng-container matColumnDef="fiscalYear">
              <th mat-header-cell *matHeaderCellDef>Fiscal Year</th>
              <td mat-cell *matCellDef="let costProjection">
                {{ costProjection.fiscalYear }}
              </td>
            </ng-container>
            <ng-container matColumnDef="originalForecast">
              <th mat-header-cell *matHeaderCellDef>Baseline Forecast</th>
              <td mat-cell *matCellDef="let costProjection">
                {{ costProjection.originalForecast | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="currentForecast">
              <th mat-header-cell *matHeaderCellDef>Current Forecast</th>
              <td mat-cell *matCellDef="let costProjection">
                {{ costProjection.currentForecast | currency }}
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="[
                'fiscalYear',
                'originalForecast',
                'currentForecast',
              ]"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                columns: ['fiscalYear', 'originalForecast', 'currentForecast']
              "
            ></tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-tab-group>
    <mat-tab label="Reports Due">
      <mat-card class="tab-mat-card">
        <button
          style="align-self: start"
          mat-raised-button
          color="primary"
          (click)="addInterimReport()"
          [disabled]="!canUpdateProject()"
        >
          {{ t("startNextReport") }}
        </button>

        <table
          mat-table
          [dataSource]="interimReportsDataSource"
          multiTemplateDataRows
        >
          <ng-container matColumnDef="report">
            <th mat-header-cell *matHeaderCellDef>Report</th>
            <td mat-cell *matCellDef="let element">
              @if (!element.parentId) {
                {{ element.name }}
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef>Section</th>
            <td mat-cell *matCellDef="let element">
              {{ element.section }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef>Due Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dueDate | date: "yyyy-MM-dd" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="submittedDate">
            <th mat-header-cell *matHeaderCellDef>Submitted Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.submittedDate | date: "yyyy-MM-dd" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              @if (element.parentId) {
                <div class="table-actions">
                  <a
                    *ngFor="let action of element.actions"
                    style="min-width: 70px"
                    mat-stroked-button
                    color="primary"
                    [routerLink]="getSubReportRoute(element, action)"
                    [disabled]="!canUpdateItem(action)"
                  >
                    {{ t(action) }}
                  </a>
                </div>
              }
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="[
              'report',
              'section',
              'status',
              'dueDate',
              'submittedDate',
              'actions',
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let element;
              columns: [
                'report',
                'section',
                'status',
                'dueDate',
                'submittedDate',
                'actions',
              ]
            "
          ></tr>
        </table>
      </mat-card>
    </mat-tab>

    <mat-tab label="Condition Requests">
      <mat-card class="tab-mat-card">
        <table
          class="drr-table"
          mat-table
          [dataSource]="conditionRequestsDataSource"
        >
          <ng-container matColumnDef="conditionName">
            <th mat-header-cell *matHeaderCellDef>Condition</th>
            <td mat-cell *matCellDef="let conditionRequest">
              {{ conditionRequest.conditionName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="limit">
            <th mat-header-cell *matHeaderCellDef>Limit</th>
            <td mat-cell *matCellDef="let conditionRequest">
              {{ conditionRequest.limit }}%
            </td>
          </ng-container>
          <ng-container matColumnDef="conditionMet">
            <th mat-header-cell *matHeaderCellDef>Condition Met?</th>
            <td mat-cell *matCellDef="let conditionRequest">
              {{ conditionRequest.conditionMet ? "Yes" : "No" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dateMet">
            <th mat-header-cell *matHeaderCellDef>Date Met</th>
            <td mat-cell *matCellDef="let conditionRequest">
              {{ conditionRequest.dateMet | date: "yyyy-MM-dd" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Request to Clear Status</th>
            <td mat-cell *matCellDef="let conditionRequest">
              {{
                conditionRequest.status
                  ? ("requestStatus." + conditionRequest.status | transloco)
                  : ""
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let conditionRequest">
              <div class="table-actions">
                @if (canCreateConditionRequest(conditionRequest)) {
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="createConditionRequest(conditionRequest)"
                    [disabled]="!canUpdateProject()"
                  >
                    Request to Clear
                  </button>
                }
                @if (canViewConditionRequest(conditionRequest)) {
                  <button
                    style="min-width: 70px"
                    mat-stroked-button
                    color="primary"
                    [routerLink]="['conditions', conditionRequest.id, 'view']"
                  >
                    View
                  </button>
                }
                @if (canEditConditionRequest(conditionRequest)) {
                  <button
                    style="min-width: 70px"
                    mat-stroked-button
                    color="primary"
                    [routerLink]="['conditions', conditionRequest.id, 'edit']"
                    [disabled]="!canUpdateProject()"
                  >
                    Edit
                  </button>
                }
              </div>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'conditionName',
              'limit',
              'conditionMet',
              'dateMet',
              'status',
              'actions',
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'conditionName',
                'limit',
                'conditionMet',
                'dateMet',
                'status',
                'actions',
              ]
            "
          ></tr>
        </table>
      </mat-card>
    </mat-tab>

    <mat-tab label="Key Documents">
      <mat-card class="tab-mat-card">
        <table mat-table [dataSource]="attachmentsDataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>File Name</th>
            <td mat-cell *matCellDef="let attachment">
              {{ attachment.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="documentType">
            <th mat-header-cell *matHeaderCellDef>Document Type</th>
            <td mat-cell *matCellDef="let attachment">
              {{ "documentType." + attachment.documentType | transloco }}
            </td>
          </ng-container>
          <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let attachment">
              <div
                style="
                  max-width: 50rem;
                  white-space: normal;
                  word-wrap: break-word;
                  overflow-wrap: anywhere;
                  display: -webkit-box;
                  -webkit-line-clamp: 5;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                "
              >
                {{ attachment.comments }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef>Uploaded Date</th>
            <td mat-cell *matCellDef="let attachment">
              {{ attachment.createdOn | date: "yyyy-MM-dd" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let attachment">
              <div class="table-actions">
                <button
                  mat-stroked-button
                  color="primary"
                  (click)="downloadAttachment(attachment)"
                >
                  Download
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="attachmentsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: attachmentsColumns"></tr>
        </table>
      </mat-card>
    </mat-tab>

    <mat-tab label="Partnering Proponents">
      <mat-card class="tab-mat-card">
        <mat-card-header>
          <mat-card-title>Partnering Proponents</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding-left: 2rem">
          @if (partneringProponents.length === 0) {
            <i>You have no partnering proponents.</i>
          }
          @for (proponent of partneringProponents; track proponent) {
            <p>{{ proponent }}</p>
          }
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <!-- <mat-tab label="Contacts">
      <mat-card class="tab-mat-card">
        <button
          style="align-self: start"
          mat-raised-button
          color="primary"
          (click)="addProjectContact()"
        >
          {{ t("addProjectContact") }}
        </button>

        <table mat-table [dataSource]="projectContactsDataSource">
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let contact">{{ contact.firstName }}</td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let contact">{{ contact.lastName }}</td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let contact">{{ contact.title }}</td>
          </ng-container>
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let contact">{{ contact.department }}</td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let contact">{{ contact.phone }}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'firstName',
              'lastName',
              'title',
              'department',
              'phone',
              'email',
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'firstName',
                'lastName',
                'title',
                'department',
                'phone',
                'email',
              ]
            "
          ></tr>
        </table>
      </mat-card>
    </mat-tab> -->

    <mat-tab label="Completed Reports">
      <mat-card class="tab-mat-card">
        <table mat-table [dataSource]="pastReportsDataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let report">{{ report.id }}</td>
          </ng-container>
          <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef>Due Date</th>
            <td mat-cell *matCellDef="let report">
              {{ report.dueDate | date: "yyyy-MM-dd" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let report">{{ report.status }}</td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="['id', 'dueDate', 'status']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['id', 'dueDate', 'status']"
          ></tr>
        </table>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
