.progress-group {
  display: flex;
  gap: 1rem;
}

.workplan-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.attachments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
