<div class="drr-step-container" *transloco="let t">
  <div>
    <h3>{{ t("climateAdaptation") }}</h3>
    <drr-radio-button
      [label]="t('incorporateFutureClimateConditions')"
      [rxFormControl]="
        climateAdaptationForm.get('incorporateFutureClimateConditions')
      "
    ></drr-radio-button>

    <drr-textarea
      *ngIf="
        climateAdaptationForm.get('incorporateFutureClimateConditions')
          ?.value === true
      "
      [id]="'climateAdaptation'"
      [label]="t('climateAdaptationText')"
      [rxFormControl]="climateAdaptationForm.get('climateAdaptation')"
      [maxlength]="2000"
    ></drr-textarea>
  </div>

  <div>
    <h3>{{ t("climateAssessmentTools") }}</h3>
    <drr-radio-button
      [label]="t('climateAssessment')"
      [rxFormControl]="climateAdaptationForm.get('climateAssessment')"
    ></drr-radio-button>
    <drr-chip-autocomplete
      *ngIf="climateAdaptationForm.get('climateAssessment')?.value === true"
      [label]="t('climateAssessmentToolsText')"
      [placeholder]="t('autocompletePlaceholder')"
      [rxFormControl]="climateAdaptationForm.get('climateAssessmentTools')"
      [options]="climateAssessmentToolOptions"
    ></drr-chip-autocomplete>
    <drr-textarea
      *ngIf="climateAdaptationForm.get('climateAssessment')?.value === true"
      [label]="t('climateAssessmentComments')"
      [rxFormControl]="climateAdaptationForm.get('climateAssessmentComments')"
      [maxlength]="2000"
    ></drr-textarea>
  </div>
</div>
