<div class="drr-step-container" *transloco="let t">
  <div>
    <h4>{{ t("publicUseOrBenefit") }}</h4>
    <drr-radio-button
      [label]="t('publicBenefit')"
      [rxFormControl]="projectOutcomesForm.get('publicBenefit')"
    ></drr-radio-button>
    <drr-textarea
      [label]="t('publicBenefitComments')"
      [maxlength]="2000"
      [rxFormControl]="projectOutcomesForm.get('publicBenefitComments')"
    ></drr-textarea>
  </div>

  <div>
    <h4>{{ t("futureCostReduction") }}</h4>
    <drr-radio-button
      [label]="t('costReduction')"
      [rxFormControl]="projectOutcomesForm.get('futureCostReduction')"
    ></drr-radio-button>
    @if (projectOutcomesForm.get("futureCostReduction")?.value === true) {
      <drr-chip-autocomplete
        [label]="t('costReductions')"
        [placeholder]="t('autocompletePlaceholder')"
        [options]="costReductionOptions"
        [rxFormControl]="projectOutcomesForm.get('costReductions')"
      ></drr-chip-autocomplete>
      <drr-textarea
        [label]="t('costReductionComments')"
        [maxlength]="2000"
        [rxFormControl]="projectOutcomesForm.get('costReductionComments')"
      ></drr-textarea>
    }
  </div>

  <div>
    <h4>{{ t("coBenefitsTitle") }}</h4>
    <drr-radio-button
      [label]="t('produceCoBenefits')"
      [rxFormControl]="projectOutcomesForm.get('produceCoBenefits')"
    ></drr-radio-button>
    @if (projectOutcomesForm.get("produceCoBenefits")?.value === true) {
      <drr-chip-autocomplete
        [label]="t('coBenefits')"
        [placeholder]="t('autocompletePlaceholder')"
        [options]="coBenefitsOptions"
        [rxFormControl]="projectOutcomesForm.get('coBenefits')"
      ></drr-chip-autocomplete>
      <drr-textarea
        [label]="t('coBenefitComments')"
        [maxlength]="2000"
        [rxFormControl]="projectOutcomesForm.get('coBenefitComments')"
      ></drr-textarea>
    }
  </div>

  <div>
    <h4>{{ t("resiliency") }}</h4>
    <drr-chip-autocomplete
      [label]="t('increasedResiliency')"
      [placeholder]="t('autocompletePlaceholder')"
      [options]="resiliencyOptions"
      [rxFormControl]="projectOutcomesForm.get('increasedResiliency')"
    ></drr-chip-autocomplete>
    <drr-textarea
      [label]="t('increasedResiliencyComments')"
      [maxlength]="2000"
      [rxFormControl]="projectOutcomesForm.get('increasedResiliencyComments')"
    ></drr-textarea>
  </div>
</div>
