<header *transloco="let t">
  <div class="header-container">
    <div>
      <img
        class="img-fluid d-none d-md-block"
        src="/assets/images/bcid-logo-rev-en.svg"
        width="181"
        height="45"
        alt="B.C. Government Logo"
      />
    </div>

    <h1 style="color: white">{{ t("header") }}</h1>

    <div class="header-action">
      <ng-container *ngIf="profileStore.loggedIn()">
        <p style="color: white">
          {{ profileStore.organization() }}
        </p>
        <button style="margin-left: 1rem" mat-raised-button (click)="signOut()">
          Sign out
        </button>
      </ng-container>
    </div>
  </div>
</header>
