<div class="drr-step-container" *transloco="let t">
  <div>
    <h4>{{ t("rationaleForFunding") }}</h4>
    <drr-textarea
      [id]="'rationaleForFunding'"
      [label]="t('rationaleForFundingText')"
      [maxlength]="2000"
      [rxFormControl]="projectDetailsForm.get('rationaleForFunding')"
      [rows]="10"
    ></drr-textarea>
  </div>

  <div style="width: 50%">
    <h4>{{ t("estimatedPeopleImpacted") }}</h4>

    <drr-select
      [id]="'estimatedPeopleImpacted'"
      [label]="t('estimatedPeopleImpacted')"
      [rxFormControl]="projectDetailsForm.get('estimatedPeopleImpacted')"
      [options]="estimatedNumberOfPeopleOptions"
    ></drr-select>
  </div>

  <div>
    <h4>{{ t("communityImpact") }}</h4>
    <drr-textarea
      [id]="'communityImpact'"
      [label]="t('communityImpactText')"
      [maxlength]="2000"
      [rxFormControl]="projectDetailsForm.get('communityImpact')"
      [rows]="10"
    ></drr-textarea>
  </div>
  <div>
    <h4>{{ t("infrastructureImpacted") }}</h4>
    <drr-radio-button
      [label]="t('isInfrastructureImpacted')"
      [rxFormControl]="projectDetailsForm.get('isInfrastructureImpacted')"
    ></drr-radio-button>

    <div>
      <div
        class="infrastructure-container"
        *ngFor="
          let control of getFormArray('infrastructureImpacted').controls;
          let i = index
        "
      >
        <drr-input
          #infrastructureInput
          [label]="t('infrastructure')"
          [rxFormControl]="control.get('infrastructure')"
          [maxlength]="40"
        ></drr-input>

        <drr-input
          [label]="t('impact')"
          [rxFormControl]="control.get('impact')"
          [maxlength]="40"
        ></drr-input>
        <button
          *ngIf="i > 0"
          mat-raised-button
          color="warn"
          (click)="removeInfrastructure(i)"
        >
          <mat-icon>delete</mat-icon>
          {{ t("delete") }}
        </button>
      </div>

      <button
        *ngIf="
          projectDetailsForm.get('isInfrastructureImpacted')?.value === true
        "
        id="addInfrastructure"
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addInfrastructure()"
      >
        <mat-icon>add</mat-icon>
        {{ t("addInfrastructure") }}
      </button>
    </div>
  </div>

  <drr-textarea
    [id]="'disasterRiskUnderstanding'"
    style="margin-top: 8px"
    [label]="t('disasterRiskUnderstanding')"
    [maxlength]="2000"
    [rxFormControl]="projectDetailsForm.get('disasterRiskUnderstanding')"
    [rows]="10"
  ></drr-textarea>

  <drr-textarea
    [id]="'additionalBackgroundInformation'"
    [label]="t('additionalBackgroundInformation')"
    [maxlength]="2000"
    [rxFormControl]="projectDetailsForm.get('additionalBackgroundInformation')"
    [rows]="10"
  ></drr-textarea>

  <div>
    <h4>{{ t("proposedSolution") }}</h4>
    <drr-textarea
      [id]="'addressRisksAndHazards'"
      [label]="t('addressRisksAndHazards')"
      [maxlength]="2000"
      [rxFormControl]="projectDetailsForm.get('addressRisksAndHazards')"
      [rows]="10"
    ></drr-textarea>
  </div>

  <drr-textarea
    [label]="t('drifProgramGoalAlignment')"
    [maxlength]="2000"
    [rxFormControl]="projectDetailsForm.get('projectDescription')"
    [rows]="10"
  ></drr-textarea>

  <drr-textarea
    [id]="'additionalSolutionInformation'"
    [label]="t('additionalSolutionInformation')"
    [maxlength]="2000"
    [rxFormControl]="projectDetailsForm.get('additionalSolutionInformation')"
    [rows]="10"
  ></drr-textarea>

  <div>
    <h4>{{ t("rationaleForSolution") }}</h4>
    <drr-textarea
      [id]="'rationaleForSolution'"
      [label]="t('rationaleForSolutionText')"
      [maxlength]="2000"
      [rxFormControl]="projectDetailsForm.get('rationaleForSolution')"
      [rows]="10"
    ></drr-textarea>
  </div>
</div>
