<div class="drr-step-container" *transloco="let t">
  <form [formGroup]="otherSupportingInformationForm">
    <h3>{{ t("climateAdaptation") }}</h3>
    <drr-textarea
      [id]="'climateAdaptation'"
      [label]="t('climateAdaptationText')"
      [maxlength]="2000"
      [rxFormControl]="otherSupportingInformationForm.get('climateAdaptation')"
      [rows]="10"
    ></drr-textarea>
    <h3>{{ t("otherInformation") }}</h3>
    <drr-textarea
      [id]="'otherInformation'"
      [label]="t('otherInformationText')"
      [maxlength]="2000"
      [rxFormControl]="otherSupportingInformationForm.get('otherInformation')"
      [rows]="10"
    ></drr-textarea>
  </form>
</div>
